{% extends "admin/base.html" %}
{% block content %}
<h3>Brukere – oversikt</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Brukernavn</th>
            <th>Epost</th>
            <th>Fullt navn</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.pk }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.get_full_name }}</td>
                <td>{{ user.updated|date:"d/m/y" }}</td>
                <td class="action-icons">
                    <a title="Endre" href="{% url 'admin:users:update' user.pk %}">
                        <i class="icon-edit icon-large"></i>
                    </a>
                </td>
                <td><a title="Slett" href="{% url 'admin:users:delete' user.pk %}"><i class="icon-trash icon-large"></i></a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="form-actions">
<a href="{% url 'admin:users:create' %}" class="btn">
    <i class="icon-new"></i> Ny bruker
</a>
</div>
</div>
{% endblock content %}
